/* || CSS RESET */

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-1: #141414;
	--color-2: #1f1f1f;
	--color-3: #333333;
	--color-4: #ffffff;
	--color-5: #c4f82a;

	--ff-inter: "Inter", sans-serif;

	--fw-1: 400;
	--fw-2: 600;
	--fw-7: 700;

	--fs-1: 14px;
	--fs-2: 24px;

	/* Responsive --> 768px */
}
